<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo site</title>
</head>
<body>
  <div id="app" class="flex flex-col items-center justify-center gap-4">
    <%= data %>
    <button type="button" class="px-4 py-2 text-white bg-green-600 border-0 rounded" id="payButton">LINE PAY REQUEST</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
  <script>
    const payButton = document.getElementById('payButton');

    payButton.addEventListener('click', async () => {
      try {
        const response = await fetch('/line-pay/request', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          //body: JSON.stringify({}) // 傳遞所需的資料，如有需要
        });

        if (response.ok) {
          const result = await response.json();
          const {info} = result.body;
          const link = createButton('WEB前往支付', 'gray');
          const link2 = createButton('APP前往支付', 'cyan');
          payButton.parentNode.appendChild(link).setAttribute('href', info.paymentUrl.web);
          payButton.parentNode.appendChild(link2).setAttribute('href', info.paymentUrl.app);
        } else {
          console.error('Error:', response.statusText);
        }
      } catch (error) {
        console.error('Error:', error);
      }
    });

    function createButton(content = 'default content', color = 'gray'){
      const link = document.createElement('a');
      link.classList.add('px-4', 'py-2', 'text-white', `bg-${color}-600`, 'border-0', 'rounded', 'no-underline');
      link.textContent = content;
      return link;
    }
  </script>
</body>
</html>